
@font-face {
    font-family: Brown;
    src: url('/fonts/lineto-brown-bold.eot');
    src: url('/fonts/lineto-brown-bold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/lineto-brown-bold.woff') format('woff'),
       url('/fonts/lineto-brown-bold.ttf')  format('truetype'),
       url('/fonts/lineto-brown-bold.svg#svgFontName') format('svg');
      font-weight: bold;
}

@font-face {
    font-family: Brown;
    src: url('/fonts/lineto-brown-regular.eot');
    src: url('/fonts/lineto-brown-regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/lineto-brown-regular.woff') format('woff'),
       url('/fonts/lineto-brown-regular.ttf')  format('truetype'),
       url('/fonts/lineto-brown-regular.svg#svgFontName') format('svg');
      font-weight: normal;
}

:root {
    --dark-color: #0b0b17;
    --bright-color: #FFBF00;
    --bright-color-2: #956922;
    --white-color: white;
}

.possedex-infobulle{
    /* all permet de reset le css*/
    all: initial; 
    display: block;
    top: 30px;
    right: 20px;
    position: fixed;
    width: 295px;
    border-width: 2.5px;
    border-style: solid;
    border-color: #ffc000;
    border-radius: 0px;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 #5d666d;
    padding: 10px 12px 5px 12px;
    transition: all .5s ease;
    opacity: 1;
    transform: translate(0,0);
    overflow: hidden;
    font-family: Brown;
    z-index: 2147483647;
}
    
.possedex-close {
    display : block;
    overflow : hidden;
    font-size : 22px;
    color : var(--dark-color);
    overflow : hidden;
    cursor : pointer;
    position: absolute;
    right: 10px;
    top: 3px;
    color: var(--bright-color);
    font-family: Arial, sans-serif;
}

.possedex-close:after {
  content: '×'; /* UTF-8 symbol */
}

.possedex-content{
    padding: 7px;
}


.possedex-proph {
    all:initial;
    font-family: brown;
    display : block;
    font-weight : normal;
    font-size : 13px;
    text-align : left;
    color: var(--bright-color);
    margin-bottom: 10px;
}
.possedex-prop {
}

.possedex-propa {
    all:inherit;
    margin: 0;
    text-decoration : none;
    font-size : 39px;
    font-weight: bold;
    line-height: 34px;
}
.possedex-propdetail{
    font-size:12px;
    line-height: 17px;
    float: left;
}
    
.possedex-propint{
    color: #888;
    font-size:12px;
    line-height: 17px;
    float: left;
}
    
.possedex-propdiv{
    margin: 12px 0 12px 0;
    overflow: hidden;
    float: left;
}
.possedex-proptext{
    all:inherit;
        width: 180px;
        margin-left: 10px;
    float: left;
   color: var(--dark-color);
       margin: 0 0 10px 10px;
    overflow: visible;
}
.possedex-propimg{
    width: 90px;
    float: left;
}
    
/*
.possedex-more{
    bottom : 2px;
    color: #16212c;
    font-weight : bold;
    position : fixed;
    clear: both;
}

.possedex-more_icone{
    vertical-align: middle;
    display: inline-block;
}
    
*/  

